page-home {
    
    // .fondo{
    //     background-color:#abd54f;
    // }
}

.getstart {

    background-image: url('../../assets/imgs/pantallas/fondo_paginas.png');
    background-repeat: no-repeat;
    background-size:cover;

}